@mixin useAlign($prefix) {
  &-horizontal {
    &-start {
      &.#{$prefix}_orientation-horizontal {
        justify-content: flex-start;
      }
      &.#{$prefix}_orientation-vertical {
        align-items: flex-start;
      }
    }

    &-center {
      &.#{$prefix}_orientation-horizontal {
        justify-content: center;
      }
      &.#{$prefix}_orientation-vertical {
        align-items: center;
      }
    }

    &-end {
      &.#{$prefix}_orientation-horizontal {
        justify-content: flex-end;
      }
      &.#{$prefix}_orientation-vertical {
        align-items: flex-end;
      }
    }
  }

  &-vertical {
    &-start {
      &.#{$prefix}_orientation-horizontal {
        align-items: flex-start;
      }
      &.#{$prefix}_orientation-vertical {
        justify-content: flex-start;
      }
    }

    &-center {
      &.#{$prefix}_orientation-horizontal {
        align-items: center;
      }
      &.#{$prefix}_orientation-vertical {
        justify-content: center;
      }
    }

    &-end {
      &.#{$prefix}_orientation-horizontal {
        align-items: flex-end;
      }
      &.#{$prefix}_orientation-vertical {
        justify-content: flex-end;
      }
    }
  }
}
