@use "../../../abstracts/typography" as *;
@use "../../../core/mixins/map-get" as *;

// Generate typography extends:

@mixin generateStyles($map: get($typography, "styles")) {
  @each $k, $v in $map {
    $nestedMap: $v;

    &__#{$k} {
      @each $key, $value in $v {
        $result: get($value);

        @if $key ==
          "font-size" or
          $key ==
          "letter-spacing" or
          $key ==
          "line-height"
        {
          #{$key}: $result; // px2em($result);
        } @else {
          #{$key}: $result;
        }
      }
    }
  }
}

%t {
  @include generateStyles();
}

@mixin defineTypography($map: $display, $weight) {
  $typo-verion: get($map, -#{$weight});

  @each $key, $value in $typo-verion {
    #{$key}: $value;
  }
}
